@page
@model SK.WebAdmin.Pages.Identity.RegisterModel
@{
    Layout = null;
    var apiUrl = WebAdmin.Settings.Instance.ApiUrl;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Info.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="@Routing.DASHBOARD"><b>@Business.Settings.Instance.Name</b> admin page</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form id="form-main" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="full_name" placeholder="Full name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-info-circle"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Your username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a href="@Routing.LOGIN" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <partial name="AppLoadingModal" />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <partial name="AppScript" />
    <script>
        clearToken();
        $(document).ready(() => {
            $('#form-main').validate({
                submitHandler: confirmSubmit,
                rules: {
                    username: {
                        required: true,
                        minlength: 5
                    },
                    password: {
                        required: true,
                    },
                    confirm_password: {
                        required: true,
                        equalTo: "#form-main input[name=password]"
                    }
                },
                messages: {
                    username: {
                        required: "Username is required",
                        minlength: "Username must have length >=5"
                    },
                    password: {
                        required: "Password is required",
                    },
                    confirm_password: {
                        required: "Confirm password is required",
                        equalTo: "Password mismatched"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        function confirmSubmit(form) {
            confirmAlert().then((result) => {
                if (result.value)
                    submitData(form);
            });
        }

        function submitData() {
            var form = $('#form-main')[0];
            var formData = new FormData(form);
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@ApiEndpoint.USER_API',
                type: 'post',
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: (data) => {
                    successAlert("You've registered successfully").then(() => {
                        location.href = '@Routing.LOGIN';
                    });
                },
                error: (data) => {
                    console.log(data);
                    if (data.status == 400) {
                        let html = '';
                        data = data.responseJSON;
                        for (var i = 0; i < data.length; i++) {
                            var result = data[i];
                            if (isDuplicatedUsername(result))
                                html += 'Username has already been taken<br/>';
                            if (isFailValidation(result))
                                html += 'Some input are not valid<br/>';
                        }
                        sorryAlert(html);
                    } else
                        errorAlert();
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }
    </script>
</body>
</html>
