@model SK.WebAdmin.Models.ILocationPageModel
@{
    var apiUrl = WebAdmin.Settings.Instance.ApiUrl;
    string ActiveMenu(string menu)
    {
        return menu == Model.Info.Menu ? "active" : "";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Info.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .clickable {
            cursor: pointer;
        }

        .dropdown-item-icon {
            width: 30px;
        }
    </style>
    @RenderSection("head", false)
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Model.Info.BackUrl"><i class="fas fa-arrow-left"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Routing.LOCATION_DASHBOARD.LocId(Model.LocId)"><i class="fas fa-home"></i></a>
                </li>
                <li class="ml-3 nav-item">
                    <button class="btn btn-info" data-toggle="modal" data-target="#modal-nav">
                        ĐIỀU HƯỚNG
                    </button>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        Xin chào <b>@User.FindFirst(AppClaimType.UserName)?.Value</b>
                        &nbsp;
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="@Routing.IDENTITY" class="dropdown-item">
                            <i class="fa fa-info-circle text-black-50 dropdown-item-icon"></i>
                            Account information
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Routing.LOGOUT" class="dropdown-item">
                            <i class="fa fa-door-open text-black-50 dropdown-item-icon"></i>
                            Log out
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">@Business.Settings.Instance.Name</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="@Routing.DASHBOARD"><i class="fas fa-home"></i>&nbsp; Về hệ thống</a>
                        <div class="d-block text-white" id="current-target">
                            <span class="loc-name"></span>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_DASHBOARD.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_DASHBOARD)">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Tổng quan
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">NỘI DUNG</li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_RES.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_RES)">
                                <i class="nav-icon fas fa-map-marker-alt"></i>
                                <p>
                                    Địa điểm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_POST.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_POST)">
                                <i class="nav-icon fas fa-align-justify"></i>
                                <p>
                                    Bài viết
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">THIẾT BỊ</li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_CONFIG.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_CONFIG)">
                                <i class="nav-icon fas fa-th-list"></i>
                                <p>
                                    Cấu hình
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_SCHEDULE.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_SCHEDULE)">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Lịch phát
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_DEVICE.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_DEVICE)">
                                <i class="nav-icon fas fa-desktop"></i>
                                <p>
                                    Thiết bị
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">BẢN ĐỒ</li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_BUILDING.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_BUILDING)">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    Tòa nhà
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_FLOOR.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_FLOOR)">
                                <i class="nav-icon fas fa-layer-group"></i>
                                <p>
                                    Tầng
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Routing.LOCATION_AREA.LocId(Model.LocId)" class="nav-link @ActiveMenu(Menu.LOCATION_AREA)">
                                <i class="nav-icon fas fa-shapes"></i>
                                <p>
                                    Khu vực
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>
            @{
                var returnUrl = Context.Request.GetEncodedPathAndQuery();
                var supportCultures = Business.Settings.Instance.SupportedCultures;
            }
            <form id="form-lang" class="d-inline-block mx-3 float-right" action="/@AppController.LANG" method="get">
                <input type="hidden" name="return_url" value="@returnUrl" />
                <select name="culture" class="px-1">
                    @foreach (var culture in supportCultures)
                    {
                        var langCode = culture.TwoLetterISOLanguageName;
                        <!option value="@langCode"
                                 @PageHelper.SelectedIfActiveLang(langCode)>
                            @culture.DisplayName
                        </!option>
                    }
                </select>
            </form>
        </footer>
    </div>

    <div class="modal fade" id="modal-nav">
        <div class="modal-dialog modal-nav">
            <div class="modal-content">
                <div class="modal-header">
                    <h5><b>Hiện tại:</b> <span class="loc-name"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-header">
                    <div class="row w-100 m-0">
                        <div class="col-12">
                            <a href="@Routing.DASHBOARD">
                                Hệ thống
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-header">
                    <div class="row w-100 m-0" id="container-loc">
                        <div class="col-12 text-center">
                            <h5>DANH SÁCH TRUNG TÂM</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- ./wrapper -->
    <partial name="AppLoadingModal" />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- moment.js -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <partial name="AppScript" />
    <script>
        appInit();

        layoutInit();
        function layoutInit() {
            $('#form-lang select[name=culture]').change((e) => {
                $('#form-lang').submit();
            });
            loadNavLocations();
        }

        function loadNavLocations() {

            function processData(data) {
                var container = $("#container-loc");
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    var boldClass = '';
                    if (obj.id == @Model.LocId) {
                        $('.loc-name').text(obj.name);
                        boldClass = ' font-weight-bold';
                    }
                    container.append(
                        $('<div class="col-12">').append(
                            $('<a href="' +
                                '@Routing.LOCATION_DASHBOARD'.replace('{loc_id}', obj.id) +
                                '">').append(
                                    '<span class="nav-loc-' + obj.id + boldClass + '">' + obj.name + '</span>'
                            )
                        )
                    );
                }
            }

            const data = {};
            data.culture = '@CultureHelper.CurrentLang';
            data.fields = '@LocationQueryProjection.SELECT';
            data.load_all = true;
            $.ajax({
                url: '@apiUrl/@ApiEndpoint.LOCATION_API',
                type: 'get',
                data: data,
                success: (data) => {
                    console.log(data);
                    data = data.results[0].data.results;
                    processData(data);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }
    </script>
    @RenderSection("scripts", false)

</body>
</html>
