@page
@model SK.WebAdmin.Areas.Location.Pages.Config.OverviewModel
@{
    var apiUrl = WebAdmin.Settings.Instance.ApiUrl;
}

@section head {
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- ElFinder -->
    <link rel="stylesheet" href="~/plugins/jquery-ui/themes/base/theme.min.css" />
    <link rel="stylesheet" href="~/plugins/jquery-ui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/plugins/elfinder/css/elfinder.full.min.css" />
    <link rel="stylesheet" href="~/plugins/elfinder/css/theme.min.css" /> @* <-- NOTE: This file is new and some of the themes may not look quite right if this is used. *@
    <link rel="stylesheet" href="~/dist/css/elfinder/themes/material/css/theme-gray.min.css" id="elfinder-theme" />
    <style>
        .elfinder-cwd table td {
            /* fix conflict with Bootstrap CSS. See: https://github.com/Studio-42/elFinder/commit/4f858d5ffc9a8f41b4cc07a063782abe2e722bdf */
            box-sizing: content-box;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Routing.DASHBOARD">Hệ thống</a></li>
                    <li class="breadcrumb-item"><a href="@Routing.LOCATION_DASHBOARD.LocId(Model.LocId)">Trung tâm</a></li>
                    <li class="breadcrumb-item"><a href="@Routing.LOCATION_CONFIG.LocId(Model.LocId)">Cấu hình</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <partial name="ConfigTabsNavigationView" />
                    <div class="card-body">
                        <div class="tab-content" id="tabs-content">
                            <div class="tab-pane fade show active" role="tabpanel">
                                <!-- form start -->
                                <form role="form" id="form-main">
                                    <div class="card-body">
                                        <div class="form-group w-50">
                                            <label>
                                                Hình ảnh
                                                <button type="button"
                                                        onclick="showFileChooser('image_url')"
                                                        class="btn btn-default mx-1 btn-sm">
                                                    <i class="fa fa-folder-open"></i>
                                                </button>
                                            </label>
                                            <input type="text" name="image_url" class="form-control"
                                                   onchange="onImageUrlChange('image_url')"
                                                   placeholder="Đường dẫn hình ảnh" />
                                            <img name="image_url_preview" class="img w-100 my-3" />
                                        </div>
                                        <div class="form-group">
                                            <label>Mục thông tin</label>
                                            <div class="font-italic text-sm">Các mục phân cách nhau bởi "---"<br />VD: Mục 1---Mục 2</div>
                                            <textarea class="form-control"
                                                      style="height: 400px"
                                                      name="lines"
                                                      placeholder="Nhập các mục ở đây"></textarea>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-check mr-1"></i>
                                            CẬP NHẬT
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<partial name="FileChooserModal" />

@section scripts {

    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- ElFinder -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/elfinder/js/elfinder.full.min.js"></script>
    <partial name="FileChooserScript" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
            getData();
            $('#form-main').validate({
                submitHandler: confirmSubmit,
                rules: {
                },
                messages: {
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
            initElFinder();
        });

        function initElFinder() {
            var myCommands = elFinder.prototype._options.commands;
            var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'search', 'zipdl', 'help']; // Not yet implemented commands in elFinder.NetCore
            elFinder.prototype.i18.en.messages.TextArea = "Edit";
            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });
            var options = {
                url: '@WebAdmin.Settings.Instance.ApiUrl/@ApiEndpoint.FILE_API/connector', // Default (Local File System)
                //url: '/el-finder/azure-storage/connector', // Microsoft Azure Connector
                @*//customData: { folder: '@Model.Folder', subFolder: '@Model.SubFolder' }, // customData passed in every request to the connector as query strings. These values are used in FileController's Index method.*@
                rememberLastDir: false, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                commands: myCommands,
                //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                uiOptions: { // UI buttons available to the user
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['undo', 'redo'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit'],
                        ['selectall', 'selectnone', 'selectinvert'],
                        ['view', 'sort']
                    ]
                },
                customHeaders: {
                    'Authorization': 'Bearer ' + localStorage.access_token
                },
                handlers: {
                    dblclick: (e, fm) => {
                        const hash = e.data.file;
                        const file = fm.file(hash);
                        console.log(file);
                        if (file.mime != 'directory') {
                            e.preventDefault();
                            const url = fm.url(hash);
                            const tag = fileChooserData.tag;
                            $('#form-main [name=' + tag + ']').val(url).trigger('change');
                            closeFileChooser();
                        }
                    },
                },
                onlyMimes: ['image'],
                //lang: 'vi', // Change language
            };
            $('#elfinder').elfinder(options).elfinder('instance');
        }

        function onImageUrlChange(type) {
            const url = $('[name=' + type + ']').val();
            if (url?.trim()) {
                const imgPreview = $('[name=' + type + '_preview]');
                imgPreview.attr('src', url);
            }
        }

        function getData() {
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@ApiEndpoint.CONFIG_API',
                type: 'get',
                data: {
                    id: @Model.Id,
                    culture: '@CultureHelper.CurrentLang',
                    fields: '@ConfigQueryProjection.INFO,@ConfigQueryProjection.DETAIL',
                    single_only: true
                },
                success: (data) => {
                    console.log(data);
                    data = data.results[0].data;
                    processData(data);
                },
                error: (data) => {
                    handleGeneralError(data, '@Routing.LOCATION_CONFIG.LocId(Model.LocId)');
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processData(data) {
            const formMain = $('#form-main');
            const homeCfg = data.home_config;
            formMain.find('[name=image_url]').val(homeCfg.image_url).trigger('change');
            const lines = homeCfg.lines.join('---');
            formMain.find('[name=lines]').val(lines);
        }

        function confirmSubmit() {
            confirmAlert().then((result) => {
                if (result.value)
                    submitData();
            });
        }

        function submitData() {
            const model = {
                home_config: {}
            };
            const cfg = model.home_config;
            cfg.image_url = $('[name=image_url]').val();
            const lines = $('[name=lines]').val();
            cfg.lines = lines?.split('---');
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@ApiEndpoint.CONFIG_API/@Model.Id',
                type: 'patch',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: (data) => {
                    successAlert("@Html.Raw(GeneralMessage.UPDATE_SUCCESS)");
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

    </script>
}
